.inputBox {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
}


.input_top {
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding-bottom: 15px;
    padding: 15px;
}

.input_top > form {
    flex: 1;
    display: flex;
}

.input_top > form > input {
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}


.inputBox_input {
    flex: 1;
    display: flex;

}


input_top input {
    flex: 1;
}

.input_bottom {
    display: flex;
    justify-content: space-evenly;
}


.inputBox_option {
    padding: 20px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}

.inputBox_option > h3 {
    font-size: medium;
    margin-left: 10px;
    cursor: pointer;
}

.input_top > form > button {
    display: none;
}

.input_top {
    flex: 1;
}